body{
    background:  rgb(58, 58, 58)
    
    
}
.back{
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient( #411768 200px, rgb(58, 58, 58) 200px);
    position:absolute;
    z-index: -1;
}


.container{

    padding: 3%;
 
}

.mainContent{
    margin-top: 7vh;
}

.rounded{
    border-radius: 50%!important;
    max-height: 150px;
    z-index: 3;
}

.audioBox{
    border-radius: 25px;
    background-color: rgb(41, 40, 40);
    box-shadow: -180px 0px 0px -73px#411768;
    z-index: 2;
}

.audioText{
    color: rgb(11, 187, 11);
}

.line{
    background-color: red;
    height: 3px;
    width: 100%;
 margin-top: 35%;
}



@media only screen and (max-width: 769px) {
    .audioBox {
      margin-top: 40px!important;
      /* box-shadow: 0px -100px 0px 0px #000000; */
    }
    .audioBox:before{
        transform: rotate(180);
        content: " ";
       position: fixed;
        width: 3px;
        /* right: 50%;
        bottom: 0; */
        height: 40px;
        left: 50%;
        z-index:-2;
        box-shadow: -1px -50px 0px 0px #411768;
    }
    .back{
        background: linear-gradient( #411768 130px, rgb(58, 58, 58) 130px);
    }
  
  }